<h2>Show request</h2>

<ul>

  <li>
    <strong>Application:</strong>
    <%= @request.application_id %>
  </li>

  <li>
    <strong>Source ip:</strong>
    <%= @request.source_ip %>
  </li>

</ul>

<%= link "Edit", to: request_path(@conn, :edit, @request) %>
<%= link "Back", to: request_path(@conn, :index) %>
